@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

/* header */

.main .top-bar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.top-bar .content-bar {
    display: flex;
    align-items: center;
}

.top-bar .logo-bar {
    display: flex;
    align-items: center;
    margin: 20px;
    float: left;   
}

.top-bar .menu-bar-desktop {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.top-bar .menu-bar-desktop ul {
    position: absolute;
    display: flex;
    list-style: none;
    margin-left: 5rem;
    gap: 5rem;
}

.top-bar .menu-bar-desktop ul ul {
    display: none;
}

.menu-bar-desktop li:hover > ul {
    display: block;
    flex-direction: column;
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 6px 5px 20px 0px rgb(212, 209, 209);
    border-radius: 15px;
    min-width: 150px;
  }

.top-bar .menu-bar-desktop li {
    padding: 10px;
}

.top-bar .login-register {
    float: right;
}

.top-bar .login-register button {
    width: 8rem;
    height: 3rem;
    background-color: white;
}

.top-bar .login-button {
    border: none;
}

.top-bar .register-button {
    border-radius: 15px;
}

/* content */

.container {
    display: flex;
    justify-content: space-around;
    margin: 7rem;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 120px;
    gap: 5rem;
}

.container .figures .desktop-figure {
    max-width: 700px;
}

.container .figures .mobile-figure {
    display: none;
}

.container .content h1 {
    font-size: 150px;
}

.container .content p {
    font-size: 30px;
    line-height: 3rem;
    margin-top: 5rem;
}

.content .learnmore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 80px;
    background-color: black;
    border-radius: 15px;
    color: white;
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.content .learnmore-button:hover {
    box-shadow: 0px 0px 0px 3px black;
    background-color: white;
    color: black;
}

.content .brands-soon {
    display: flex;
    align-items: center;
    gap: 8rem;

}

.content .brands-soon img {
   min-width: 100px;
}

.basebord {
    padding: 30px;
    box-shadow: 6px 5px 20px 0px rgb(212, 209, 209);
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}
